/* header */
h1 {	color: #FF0000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: x-large;
	text-align: center
}
h2 {	background-color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 35px;
	clear: both;
	padding: 3px;
}
h3 {	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
h4 {	font-size: small}
h5 {	font-weight: normal;
	font-style: italic;
	font-family: Arial,Helvetica,sans-serif;
	padding-bottom: 0px
}
.notes { text-decoration: underline; }

/* indent */
ol,ul { margin-left: 0px; padding-left: 25px }
blockquote,dd { margin-left: 25px; padding-left: 0px }

/* tables */
tr {	vertical-align: baseline; }
th {  background-color: #EEEEEE}
.tl {  background-color: #EEEEEE}

/* images */
.rightbox {
	margin: 5 0 10 15;
	float: right;
}
.leftbox {
	margin: 5 15 10 0;
	float: left;
}

.lefticon {
	float: left;
	margin: 3 5 3 0;
}

.righticon {
	float: right;
	margin: 3 0 3 5;
}

.figure,.leftbox,.rightbox {
	font-size: smaller;
}

/* misc */
body {  background-color: #FFFFFF}
a:link { color: #000066 }
a:visited { color: #660066 }
.abstract {  font-style: italic}
.symbol { font-family: Arial, Helvetica, sans-serif}
